body{
    background-color: #9c27b0;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
table {
    width: 100% !important;
    font-size: 2em;
}
table th{
    color: white;
    border-bottom: 2px solid white;
    padding:10px;
}
table td{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
thead{
    border: 1px solid white;
}
p{
    color:white;
}